<!DOCTYPE html>
<html>
  <head>
    <title>Weather on Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to root_path do %><h1>Weather on Rails</h1><% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
